@import "components/__components";
@import "pages/__pages";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');




body {
  font-family: 'Poppins', sans-serif;;
  padding: 0;
  margin: 0;
}

ul{
  padding-left: unset;
}

h2{
  margin-top: unset;
  margin-bottom: unset;
}

:root{
  --font-primary : 'Poppins', sans-serif;
  --color-title : #1F2833;
  --margin-desktop : 60px;
  --margin-mobile : 40px;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
